body {
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
  overscroll-behavior: none;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #002022;
}

#marker {
  position: absolute;
  z-index: 10;
  border: 2px solid rgb(8, 24, 242);
}
